.DS_Store
MyPyTorchModel_torchviz.png
lightning_logs/
CITATION.cff
logs/
README.md
temp/
processed_data_original/
train.ipynb
epoch=499-step=119000.ckpt
filtered_data.zip
filtered_data/
output.txt
generated_data_converted
generated_data_converted.zip
processed_data_original_and_generated/